.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    height: 4.5rem;
    background-color: black;
    z-index: 100;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 800;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: white 2px solid;
    margin: 0 1.5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.navlink {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    color: #407a91;
    cursor: pointer;
}

/* MEDIUM SCREEN BREAKPOINT - (TABLET) */

@media screen and (max-width: 800px) and (min-width: 451px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 9rem;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 1.4rem;
    }
    .navbar {
        width: 100%;
        font-size: 12px;
    }

}

/* SMALL SCREEN BREAKPOINT - (SMARTPHONE) */

@media screen and (max-width: 450px) {
    .header {
        display: none;
    }
    .container {
        margin-top: 0;
    }
 }
